<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>714802658752-urs2810gckvr3b8chjlrkij8hctp6d81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714802658752-urs2810gckvr3b8chjlrkij8hctp6d81</string>
	<key>API_KEY</key>
	<string>AIzaSyDWdbF46M5Fqgl218EwEz5DcUEyHTLF3ew</string>
	<key>GCM_SENDER_ID</key>
	<string>714802658752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MN.VK-GB</string>
	<key>PROJECT_ID</key>
	<string>vk-gb-95b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-gb-95b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714802658752:ios:4bf6efad2db03fa4</string>
	<key>DATABASE_URL</key>
	<string>https://vk-gb-95b6f.firebaseio.com</string>
</dict>
</plist>